[submodule "themes/papercss-hugo-theme"]
	path = themes/papercss-hugo-theme
	url = https://github.com/zwbetz-gh/papercss-hugo-theme.git
[submodule "Nore5515.github.io"]
	path = Nore5515.github.io
	url = https://github.com/Nore5515/Nore5515.github.io
[submodule "https:/github.com/Nore5515/Nore5515.github.io"]
	path = https:/github.com/Nore5515/Nore5515.github.io
	url = https://github.com/Nore5515/HugoBlog
